/tmp/
/ProjectManagement_WoitekIndustrie.synctex.gz
/ProjectManagement_WoitekIndustries.synctex.gz
/ProjectManagement_WoitekIndustries.pdf
/document.aux
/document.lof
/document.log
/document.lot
/document.toc
/Assignment-SmartCar.synctex.gz
/Assignment-SmartCart.pdf
/Assignment-SmartCart.synctex.gz
